/* body{
    text-align: center;
font-size: 20px;
color: rgb(255, 255, 255);
background: linear-gradient(to right, #00488b,  #739bf0, #fb300c, #236e8b);} */




body {
    margin:0;
    color: black;
    
  }
  .main {
      width: 100%;
      height: 100%;
      position: absolute;
      /* background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706); */
      background-size: 600% 100%;
      animation: gradient 16s linear infinite;
      animation-direction: alternate;
  }
  @keyframes gradient {
      0% {background-position: 0%}
      100% {background-position: 100%}
  }
  


.logincenter{
   padding: 50px;
}
form {
    width: 100%;
    margin-left: 50%;
}


lable.grey-text{
    color: black;
}
